<div *ngIf="script" class="script-form-container">
  <span class=script-form-path>{{script.directory}}\{{script.name}}</span>
  <form class="script-form-form" *ngIf="form" [formGroup]="form">
    <div class="script-form-header">
      <mat-form-field class="script-profile" appearance="standard">
        <mat-label>Profile</mat-label>
        <mat-select [value]="selectedProfile">
          <mat-option *ngFor="let profile of profiles" [value]="profile.name">
            {{profile.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div class="script-actions">
        <button class="script-edit" mat-raised-button (click)="startEdit()">Edit</button>
        <button class="script-run" mat-raised-button color="primary" (click)="startRun()">Run</button>
      </div>
    </div>

    <ng-container *ngFor="let param of script.params; let i = index">
      <ng-container [ngSwitch]="param.type">

        <mat-form-field *ngSwitchCase="ParamType.String">
          <mat-label>{{param.name}}</mat-label>
          <input matInput type="text" [formControlName]="param.name">
        </mat-form-field>

        <mat-form-field *ngSwitchCase="ParamType.SecureString">
          <mat-label>{{param.name}}</mat-label>
          <input matInput type="password" [formControlName]="param.name">
        </mat-form-field>

        <mat-form-field *ngSwitchCase="ParamType.Number">
          <mat-label>{{param.name}}</mat-label>
          <input matInput type="number" [formControlName]="param.name">
        </mat-form-field>

        <mat-form-field *ngSwitchCase="ParamType.Set">
          <mat-label>{{param.name}}</mat-label>
          <mat-select [formControlName]="param.name">
            <mat-option *ngFor="let item of param.validation.set" [value]="item">{{item}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox *ngSwitchCase="ParamType.Switch" [formControlName]="param.name" value="true">{{param.name}}</mat-checkbox>

        <mat-checkbox *ngSwitchCase="ParamType.Boolean" [formControlName]="param.name" value="true">{{param.name}}</mat-checkbox>

      </ng-container>
    </ng-container>

  </form>
</div>
