@import "../../../../styles/variables";

.script-form {
  width: 100%;
  display: flex;
  flex-direction: column;

  .mat-form-field {
    min-width: 15rem;
    margin-left: $space-15;
  }

  .mat-checkbox {
    margin-left: $space-15;
  }
}

.script-form-path {
  font-size: $font-size-11;
  display: block;
  margin: 0 0 $space-10 $space-15;
}

.script-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: $space-6 $space-15 $space-15;
  padding-left: 0;

  .script-profile {
    flex: 1;
  }
}

.script-form-header {
  display: flex;
  align-items: center;
}

.script-form-form {
  flex: 1;
}

.profile-actions {
  padding-left: $space-6;
  border-bottom: 0.1rem solid $white-200;

  .mat-icon-button {
    height: 3rem;
  }

  .mat-icon {
    height: 3.5rem;
  }
}

.script-actions {
  min-width: 10rem;
  margin-left: $space-15;

  button {
    margin-left: $space-15;

    &:first-child {
      margin-left: 0;
    }
  }
}