@import "variables";

.pru {

  .mat-toolbar {
    color: $white-300;

    .mat-button {
      font-size: $font-size-13;
    }
  }

  .mat-toolbar-row, .mat-toolbar-single-row {
    height: 3rem;
  }

}