@import "../../../../styles/variables";

.script-log {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  .mat-icon {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
  }

  .mat-icon-button {
    width: 2.4rem;
  }
}

.script-output {
  position: absolute;
  top: 4.7rem;
  left: $space-15;
  bottom: 0;
  right: 0;
}

.script-log-title {
  display: flex;

  h2 {
    font-size: $font-size-11;
    color: $white-300;
    font-weight: normal;
    text-transform: uppercase;
    margin: $space-10 $space-15 $space-15 $space-15;
    padding: 0;
  }
}

.log-line {
  white-space: nowrap;
}

.script-log-search {
  margin-left: auto;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field {
    line-height: 0;
  }

  .mat-form-field-infix {
    padding: 0;
  }

  .mat-input-element {
    line-height: 3rem;
    width: 28rem;
  }

  .mat-form-field-suffix {
    top: -0.2rem
  }
}

.script-log-search-arrows {
  font-size: $font-size-11;
  margin: 0 $space-6 0 $space-4
}