
<mat-drawer-container class="app-container">
  <mat-drawer id="script-tree-drawer" mode="side" opened>
    <div *ngIf="nodes$ | async as nodes">
      <pru-script-tree [nodes]="nodes" (selectionChanged)="onSelectionChanged($event)">
      </pru-script-tree>
    </div>    
  </mat-drawer>
  <mat-drawer-content id="main-content">
    <mat-drawer-container class="main-container">
      <pru-script-page [script]="selectedScript"></pru-script-page>
    </mat-drawer-container>
  </mat-drawer-content>
</mat-drawer-container>
