@import "../styles/variables";

.pru {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#script-tree-drawer {
  width: 29rem;
  background: $gray-700;
}

#main-content {
  background: $gray-800;
  display: flex;
}