
<mat-drawer-container class="example-container">
  <mat-drawer id="script-tree-drawer" mode="side" opened>
    <div *ngIf="nodes$ | async as nodes">
      <pru-script-tree [nodes]="nodes" (selectionChanged)="onSelectionChanged($event)">
      </pru-script-tree>
    </div>    
  </mat-drawer>
  <mat-drawer-content id="main-content">
    <pru-script-form [script]="selectedScript" (run)="startRun($event)"></pru-script-form>
    <pru-script-log [scriptRef]="scriptRef"></pru-script-log>
  </mat-drawer-content>
</mat-drawer-container>
