@import "../../../../styles/variables";

.status-bar {
  background-color: $blue-500;
  height: 2.2rem;
  padding: 0.3rem $space-10 0 $space-10;
  display: flex;
  color: $white-100;
}

#status-bar-version {
  margin-left: auto;
}