<form [formGroup]="form" (submit)="add()">
  <h1 mat-dialog-title>{{data.title}}</h1>
  <div mat-dialog-content>
    <mat-form-field class="fill-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" cdkFocusInitial>
    </mat-form-field>
    <label id="save-as-type">Save As</label>
    <mat-radio-group aria-label="Save As" aria-labelledby="save-as-type" formControlName="saveAsType">
      <mat-radio-button value="Shared">Shared</mat-radio-button>
      <mat-radio-button value="Personal">Personal</mat-radio-button>
    </mat-radio-group>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button (click)="cancel()" type="button">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Add</button>
  </div>
</form>