<form [formGroup]="form" (submit)="save()">
  <h2>Settings</h2>
  <pru-browse-directory-field id="settings-base-path" label="Base Path" controlName="basePath"></pru-browse-directory-field>

  <mat-form-field>
    <mat-label>Search Paths</mat-label>
    <textarea id="settings-search-paths" matInput placeholder="Minimatch path patterns separated by newlines." formControlName="searchPaths"></textarea>
  </mat-form-field>

  <div class="form-actions">
    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit">Save</button>
  </div>
</form>