@import "../../../../styles/variables";

.script-page {

  .script-form {
    flex: 1;
  }

  .script-log {
    height: 23rem;
    background-color: $gray-800;
  }  

  .script-log-area {
    display: flex;
    flex-direction: column;
  }  
}