@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./styles/variables";

html { 
  font-size: 62.5%; // 10px;
} 

body {
  background-color: $gray-800;
  color: $white-100;
  font-family: Roboto,"Helvetica Neue",sans-serif
}