@import "./styles/variables";
@import "./styles/mat-button";
@import "./styles/mat-drawer";
@import "./styles/mat-form-field";
@import "./styles/mat-menu";
@import "./styles/mat-tab";
@import "./styles/mat-toolbar";
@import "./styles/mat-tree";
@import "./styles/as-split";

html { 
  font-size: 62.5%; // 10px;
} 

body {
  background-color: $gray-800;
  color: $white-200;
  font-family: $font-family-body;
  font-size: $font-size-13;
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}