@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "./styles/variables";
@import "./styles/mat-tree";

html { 
  font-size: 62.5%; // 10px;
} 

body {
  background-color: $gray-800;
  color: $white-200;
  font-family: $font-family-body;
  font-size: $font-size-13;
  margin: 0;
  height: 100vh;
  width: 100vw;
}